/* Hero Section */
.hero-section {
    height: 78vh; /* Increase height to make it taller */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #A9B3A5; 
}

.hero-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px; 
    color: #333;
}

.hero-text p {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

body {
    background-color: #a5b3a7; 
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #dfd3eb; 
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Fraunces', serif; 
    font-weight: bold;
}

.cta-button:hover {
    background-color: #e6e6fa; 
}

.vector-img {
    width: 100px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/* Blog Section */
#blog-preview {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #A9B3A5; 
    margin: 0 auto; 
    max-width: 1200px; 
}

#blog-preview h2 {
    font-family: 'Fraunces', serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; 
}

.blog-post {
    width: calc(33.333% - 20px);
    background-color: transparent;
    padding: 5px; 
    border: 1px solid #D8BFD8;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: left;
    margin-bottom: 20px;
}

.blog-post img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px; 
}

.blog-post h3 {
    font-size: 1.25rem; 
    margin: 10px 0;
    color: #3c3c3c; 
}

.blog-post p {
    font-size: 1rem;
    color: #666;
    margin: 0 0 10px;
}

.blog-post a {
    font-size: 0.9rem;
    color: #3c3c3c;
    text-decoration: none;
    border-bottom: 1px solid #3c3c3c; 
}

.blog-post a:hover {
    color: #D8BFD8; 
    border-bottom: 1px solid #D8BFD8;
}

/* Projects Section */
#projects-preview {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dfd3eb; 
    margin: 0 auto; 
    max-width: 1200px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#projects-preview h2 {
    font-family: 'Fraunces', serif;
    font-size: 3em; 
    margin-bottom: 20px;
    text-align: left; 
}

.view-all {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    color: #333333;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 20px; 
}

.view-all:hover {
    background-color: #E6E6FA; /*Lavender*/
    color: #000000;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: flex-start; 
}

.project-item {
    width: calc(33.333% - 20px);
    background-color: #dfd3eb;
    padding: 5px; 
    margin-bottom: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.project-item h3 {
    font-size: 1.25rem; 
    color: #3c3c3c; 
    margin-bottom: 10px;
    font-family: 'Fraunces', serif; 
}

.project-item p {
    font-size: 1rem;
    color: #666;
    font-family: 'Poppins', sans-serif; 
}

.project-item a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
    color: #A9B3A5; 
}
.back-to-home {
    position: absolute;
    top: 20px; 
    left: 20px; 
    text-decoration: none;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    color: #333;
}

.back-to-home:hover {
    color: #A9B3A5; 
}
@media (max-width: 768px) {
    .back-to-home {
        top: 10px;
        left: 10px;
        font-size: 0.9rem; 
    }
}
